# Auto detect text files and perform LF normalization
* text=auto

# Python files
*.py text eol=lf
*.pyw text eol=lf

# JSON files
*.json text eol=lf

# Markdown files
*.md text eol=lf

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary

# Data files
*.json linguist-language=JSON